*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


nav{
    background-image: linear-gradient(to right,rgb(7, 79, 118), rgb(2,16,60));
    height: 80px;
    width: 60%;
  }
  label.logo{
    color: white;

    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  /* @media (max-width: 1024px){
    label.logo{
      width: -10px;
      padding-left: 20px;
    }
    nav ul {
      background-image:linear-gradient(to right,rgb(7, 79, 118), rgb(2,16,60)); 
      width: 100%;
      margin-bottom: 10px;
    }
    nav ul li a{
      font-size: 12px;
      padding: 5px 5px;
    }
    bunn-4{
      padding:2px;
    }
  } */
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 20px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 1600px){
    .checkbtn{
      display: block;
      margin-left: 20px;
    }
    nav{
     
      height: 80px;
      width: 100vw;
    }
    ul{
      position: fixed;
      width:60%;
      height: 100vh;
      background: #1474a2;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #1474a2;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

@media (min-width:1600px){
  nav{
    background: #1474a2;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1474a2;
    transition: .5s;
  }
}