
.navbar{
    background-image: linear-gradient(to right,rgb(7,115,175),rgb(2,16,60));
}
.navbar-brand{
    width:150px;
}
#collapsibleNavbar{
    margin-left: 240px;
}
.nav-link{
    color: white;
    padding:20px;
}